Checks: >
  -*,
  bugprone-*,
  performance-*,
  readability-*,
  modernize-*,
  clang-diagnostic-*,
  cppcoreguidelines-*,
  clang-analyzer-*,
  hicpp-*,
  cert-*,
  security-*,
  misc-*,
  portability-*,
  llvm-*,
  google-*,
  -portability-avoid-pragma-once,
  -altera-*,
  -llvm-prefer-static-over-anonymous-namespace,
  -llvm-header-guard,
  -google-readability-todo,
  -misc-include-cleaner,
  -bugprone-easily-swappable-parameters,
  -readability-function-cognitive-complexity,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-math-missing-parentheses,
  -readability-identifier-length
HeaderFilterRegex: '^(src|include|tests)[/\\].*'
# AnalyzeTemporaryDtors: true  # commented out because some clang-tidy versions don't recognize this key
FormatStyle: file
User: CiviWave
ExtraArgs:
  - "-std=c++2c"
  - "-fno-rtti"
  - "-Wall"
  - "-Wextra"
  - "--system-header-prefix=vk_mem_alloc.h"
  - "--system-header-prefix=VulkanMemoryAllocator"
  - "-fexceptions"
  - "-misc-non-private-member-variables-in-classes"
CheckOptions:
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.MemberCase
    value: lower_case
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: _
  - key: readability-identifier-naming.GlobalConstantCase
    value: CamelCase
  - key: readability-identifier-naming.GlobalConstantPrefix
    value: k
  - key: modernize-use-trailing-return-type.MinTypeNameLength
    value: '0'
